.TituloCard{
    background-color: #007bff;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
}

.TextoCard {
    text-align: justify;
}

.FooderCard{
    background-color: #0056b3;
}

.TextosCard{
    text-align: left;
}